body{
  background: rgb(0,0,0);
  background: linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(46,46,46,1) 100%);
}

span.hamburger-inner:before,span.hamburger-inner:after,span.hamburger-inner{
  background-color: white !important;


}

#burger{
  text-align: right;
}


.navigation-bar{
  width: inherit;
  /* background-color: #1E2022; */


}


.navigation-bar-items li{
  margin-bottom: 30px;
  color: white;
  list-style: none;
  margin-right: 15px;

}

.navigation-bar-items li a:link,.navigation-bar-items li a:visited{
  color: white;

}

.navigation-bar-items li a:hover{
  color: #28C00C;
  text-decoration: none;
}



@keyframes header-animation {
  0%{
    opacity: 0;
    translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);

  }

  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}
  @keyframes sub-head-animation {
    0%{
      opacity: 0;
      translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100%{
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes animation-container {
    0%{
      top: 20px;
    }
    100%{
      top: 0;

    }

  }




body{
  background-color: #18191A;
}
#header{
  margin-bottom: 80px;
  margin-top: 80px;
  /* animation-name: animation-container;
  animation-duration: 1s; */


}
.display-8{
  margin-top: 100px;
  text-align: center;



}

h1.display-8{
  font-size: 2.6rem !important;
}

#daniel{
  color: #28C00C !important;
  }



img#headshot{
  width: 100%;
  min-width: 300px;
}
.navbar{
  background-color: #1E2022 !important;
}

.display-8{
  color: white;
  margin: 0;
  padding: 0;
  animation-name: header-animation;
  animation-duration: 1s

}

.lead{
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 10px;
  animation-name: sub-head-animation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;



}








.card{
  max-width: 100%;
  min-width: 100%;
  margin-top: 25px;
  box-shadow: 3px 3px 5px black;
}
.card:hover{
  transform: scale(1.1);
  transition: all .5s;

  box-shadow: 1px 1px 5px black;
}


.card-body{
  background-color: grey;
  color: white;


}

.card-img-top{
  background-color: lightgrey;

}


button.btn.btn-primary{
    margin: 0 auto;
}
.btn{
    background-color: #1E2022 !important;
    border: 1px solid #28C00C !important;
}

#bottom-cta{
  text-align: center;
  margin: 60px 0 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: inherit;
  /* color: #28C00C; */
  color: white;
}
.jumbotron{
  margin: 0;
  padding: 0;
}
.btn-lg{
  color: #28C00C;
}
.btn-lg:hover{
  background-color: #28C00C !important;
  transform: scale(1.05);
}
.btn-lg:active{
  transform: scale(.95);
}


.icon svg{
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  margin: 0 13px;
  padding: 0;
  fill: #28C00C;
}

.icon svg:hover{
  fill: white;
  transform: scale(1.1);
}
.col-sm-12.icon-group{
  text-align: center;
}

#space{
  height: 500px;
}

#cta-header{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 30px 0;
}
#modal-button{
  margin: 0 auto;
  border: 1px solid #28C00C !important;
  background-color: white !important;
  color: #28C00C;

}
#modal-button:hover{
  margin: 0 auto;
  background-color: #28C00C !important;
  color: white;
}


/* .modal{
  max-height: 500px;
  max-width: 500px;
  height: 500px;
  width: 500px;
  border: 1px solid white;
  background-color: white;
  margin: 0 auto;
  color: white;
  display: block;
  position: inherit;
} */
@media (max-width: 992px) {

  .navigation-bar-items{
    display: none;

  }
}
  @media (min-width: 993px) {
    span.hamburger-box{
      display: none;

    }
    body{
      background-color: black;
    }
    .navigation-bar-items li{
      display: inline-block;
      margin: 0 0 0 40px;
    }

}




}
